<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>App 4</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>

<body style="background: var(--bs-light);">
    <nav class="navbar navbar-light navbar-expand-md border rounded-0 shadow-sm" id="search_button" style="font-weight: bold;background: #ffffff;">
        <div class="container-fluid"><a class="navbar-brand" href="{{ url_for('home') }}">Home</a><input class="border rounded-0 small bg-light form-control" type="search" id="search_bar" placeholder="Buscar..." style="transform: translateX(0px);width: 50%;"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-md-flex d-lg-flex d-xl-flex justify-content-md-end justify-content-lg-end justify-content-xl-end" id="navcol">
                <ul class="navbar-nav d-xl-flex">
                    <li class="nav-item">
                        <div class="nav-item dropdown"><a class="dropdown-toggle d-xxl-flex justify-content-xxl-center align-items-xxl-center nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">{{ username }}</a>
                            <div class="dropdown-menu" style="transform: translateX(-5px) translateY(8px);">
                                <a class="dropdown-item" href="{{ url_for('profile') }}">Perfil</a>
                                <a class="dropdown-item" href="{{ url_for('billing') }}">Compras</a>
                                <a class="dropdown-item" href="{{ url_for('comments_user') }}">Comentarios</a>
                                <a class="dropdown-item" href="{{ url_for('products') }}">Platos</a>
                                <a class="dropdown-item" href="{{ url_for('users') }}">Usuarios</a>
                                <div style="background: rgba(137,137,137,0.25);border-style: none;height: 2px;width: 80%;margin-left: 16px;margin-top: 8px;margin-bottom: 8px;"></div>
                                <a class="dropdown-item" href="{{ url_for('login') }}">Cerrar sesión</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="max-width: 70%;margin-top: 36px;padding-bottom: 12px;padding-top: 12px;margin-bottom: 16px;">
        <div style="margin: 8px;padding: 4px;">
            <h4 style="margin-left: 8px;margin-top: 8px;margin-right: 8px;">Gestión de comentarios</h4>
        </div>
        <div class="border rounded shadow-sm" style="margin: 8px;padding: 4px;background: #ffffff;margin-top: 12px;">
            <h6 style="margin: 8px;margin-left: 8px;margin-top: 8px;margin-right: 8px;margin-bottom: 8px;padding: 8px;color: rgb(33, 37, 41);">Eliminar comentario</h6>
            <form id="delete_form" method="post" style="margin: 12px;max-width: 40%;margin-left: 16px;margin-top: 16px;" action="/comments_user">
                <div class="mb-3">
                    <input class="form-control" type="text" id="delete_cID" name="delete_cID" placeholder="Ingresa ID" style="font-size: 14px;max-width: 120px;">
                    <p id="error_delete_cID" style="font-size: 12px;color: var(--bs-red);margin-bottom: 0px;max-width: 100%;margin-left: 8px;">{{ error_delete_cID }}</p>
                </div>
                <button  onclick="validar_eliminar()" class="btn btn-primary" id="delete_comment" type="button" style="margin-top: 8px;margin-bottom: 16px;margin-right: 16px;background: var(--bs-red);border-style: none;">Eliminar</button>
                <p id="confirmation_delete" style="font-size: 12px;color: var(--bs-teal);margin-bottom: 0px;max-width: 100%;margin-left: 8px;">{{ delete_confirm }}</p>
            </form>
        </div>
        <div class="border rounded shadow-sm" style="margin: 8px;padding: 4px;background: #ffffff;margin-top: 12px;">
            <h6 style="margin: 8px;margin-left: 8px;margin-top: 8px;margin-right: 8px;margin-bottom: 8px;padding: 8px;">Lista de comentarios</h6>
            <div style="margin: 8px;padding: 4px;">
                <div class="table-responsive" id="table_comments" style="max-width: 100%;font-size: 14px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>ID Comentario</th>
                                <th>Nombre producto</th>
                                <th>Comentario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dict_item in variable_jinja %}
                            <tr>                                                                     
                                <th>{{ dict_item[4] }}</th>  <!--Fecha-->
                                <th>{{ dict_item[0] }}</th> <!--ID comentario-->
                                <th>{{ dict_item[1] }}</th> <!--Nombre del producto-->
                                <th>{{ dict_item[3] }}</th> <!-- Comentario-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/validarGestion.js"></script>
    <script src="../static/assets/js/validarComentario.js"></script>
</body>

</html>